@* Jest wykorzystywany helper, który wyświetla ksiażki. Taki helper można wykorzystywać sporo razy *@
@helper BookList(IEnumerable<Urok1_povtor_metanit.Models.Book> books)
    {
        <ul>
            @foreach (Urok1_povtor_metanit.Models.Book b in books)
            {
                <li>@b.Name</li>
            }
        </ul>
}



@using Urok1_povtor_metanit.Models
@model IEnumerable<Book>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device=width" />
</head>
<body>
    <div>
        <h3>Books</h3>
        <table>
            <tr>
                <td><p><b>Name</b></p></td>
                <td><p><b>Author</b></p></td>
                <td><p><b>Price</b></p></td>
                <td><p><b>Kupić</b></p></td>
                <td><p><b>Edit</b></p></td>
                <td><p><b>Delete</b></p></td>
            </tr>
            @Html.DropDownList("Author", ViewBag.Books as SelectList)

            @foreach (Urok1_povtor_metanit.Models.Book item in Model)
            {
                <tr>
                    <td><p>@item.Name</p></td>

                    <td><p>@item.Author.Name</p></td>
                    <td><p>@item.Price</p></td>
                    <td><p><a href="/Home/Buy/@item.Id">Buy</a></p></td>
                    <td><p><a href="/Home/EditBook/@item.Id">Edit</a></p></td>
                    <td><p><a href="/Home/DeleteBook/@item.Id">Delete</a></p></td>
                </tr>
            }
            @{
                string boby = "Hello, honey!";
            }
            /**/
            /**/
            <tr>
                <td><p><a href="/Home/Reads?b=@boby">All purchase</a></p></td>


                <td><p><a href="/Home/GetFile">Download picture</a></p></td>
                <td><p><a href="/Home/GetBytes">Download bytes picture</a></p></td>
                <td><p><a href="/Home/InfoAboutUser">InfoAboutUser</a></p></td>
            </tr>
            <tr>

            </tr>
            <tr>
                <td><p>Author i jego książki:</p></td>       
            </tr>
            <tr><td><p><a href="/Home/InfoAboutAuthor">InfoAboutAuthor</a></p></td></tr>
            <tr> <td>----------------------</td></tr>
            <p><b><a href="/Home/Create">Dodanie nowej książki</a></b></p>

            @*<td><p>@Html.ActionLink("All purchase", "Reads", "Home", b = "hello")</p></td>*@
        </table>
        <table>
            @BookList(Model)
            @BookList(Model)
        </table>
    </div>
</body>
</html>

